<h1>My tasks</h1>

<ul>
  <% @tasks.each do |task| %>
  <div class="d-flex mx-auto">
    <div class="p-2">
      <% if task.completed %>
        <input type="checkbox" checked>
      <% else %>
        <input type="checkbox">
      <% end %>
    </div>
    <div class="p-2">
      <%= link_to task.title, task_path(task) %>
    </div>
    <div class="p-2">
    <%= link_to '<i class="fa-regular fa-trash-can"></i>'.html_safe,
  task_path(task),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
  %>
    </div>
  </div>

  <% end %>
</ul>


<button type="button" class="btn btn-outline-primary"><%= link_to "Add a new task", new_task_path  %></button>
